{{template "base.html"}}

<body>
    <div class="flex flex-col justify-center items-center pt-5">
        <div class="w-3/5">
            <h3 class="text-2xl font-bold">About Page</h3>
            <p class="py-2">
                Noob Text is the fastest&trade; random paste service on the web.
                It's built with Go and HTML. That's right. No JS (Technically
                there is some in the form of HTMX), no meta frameworks, no
                nothing. Just Go and HTML. It's fast, it's simple, and it's
                secure. It's also open source, so you can check out the code on
                <a class="underline" href="/source">GitHub</a>.
            </p>
            <h3 class="text-2xl font-bold">Why?</h3>
            <p class="py-2">
                Why not? Why not! Just look! Just look at this beauty
            </p>
            <div>
                <img
                    src="https://pbs.twimg.com/media/F7DPjusa0AA5WdX?format=jpg&name=medium"
                    alt="Screenshot of the code languages"
                />
            </div>
            <p class="py-2">
                As a guy who likes working on backends and APIs, I wanted to
                make something that was paradoxically simple and complex. Thing
                is, in my programming journey as a mostly frontend developer
                with a little backend as a service (BaaS) experience, I've
                always wanted to learn the nitty gritty of backend development.
                Sending the request, storing the cookie, actually implementing a
                good JWT authentication and more. Well, I did it. I made a
                backend. And it's fast. And it's simple and it's HTMX powered.
            </p>
            <div class="py-2 flex justify-center items-center">
                <img
                    src="https://htmx.org/img/createdwith.jpeg"
                    alt="Made with HTMX"
                />
            </div>
        </div>
    </div>
</body>
<style>
    p {
        line-height: 1.8;
        font-size: 1.1rem;
    }
</style>
