package templates

import "github.com/newtoallofthis123/noob_text/utils"

templ Account(username string, docs []utils.Document) {

<body>
    <div class="flex flex-col justify-center items-center py-5">
        <div class="w-3/5">
            <h1 class="text-2xl font-bold">
                Hey there,
                <span class="bg-yellow-200 text-black">{ username }!</span>
            </h1>
            <p id="account"></p>
            <div class="pt-2 pb-2">
                <button id="delete" hx-delete={ "/delete/" + username }
                    hx-confirm="Are you sure you want to delete your account? This action cannot be undone."
                    hx-target="#account" hx-swap="innerHTML">
                    😞 Delete Account
                </button>
            </div>
            <p class="text-lg py-2">Here are all of your posts 😎</p>
            <ul>
                for _, doc := range docs {
                <div id={ doc.Hash } class="py-3.5">
                    <a href={ templ.SafeURL("/docs/" + doc.Hash) }>
                        <li class="">
                            <h2 class="text-xl pb-1">
                                <span class="emoji"></span>{ doc.Title }
                            </h2>
                            <p class="doc_content">{ doc.Content }</p>
                            <p class="created_at">{ doc.CreatedAt }</p>
                        </li>
                    </a>
                    <div class="pt-2">
                        <button><a href={ templ.SafeURL("/update/" + doc.Hash) }>📝Edit</a></button>
                        <button class="delete" hx-delete={ "/delete/" + doc.Hash }
                            hx-confirm="Are you sure you want to delete this post?" hx-target={ "#" + doc.Hash }
                            hx-swap="innerHTML">
                            🗑️Delete
                        </button>
                    </div>
                </div>
                }
            </ul>
        </div>
    </div>
</body>
<script>
    var created_at = document.getElementsByClassName('created_at');
    for (var i = 0; i < created_at.length; i++) {
        var date = new Date(created_at[i].innerHTML.trim());
        created_at[i].innerHTML = date.toLocaleString();
    }

    var doc_content = document.getElementsByClassName('doc_content');
    for (var i = 0; i < doc_content.length; i++) {
        doc_content[i].innerHTML =
            doc_content[i].innerHTML.slice(0, 200).trim() + '...';
    }
    emojis = ['🍕', '😺', '📟', '🪴', '🌲', '🌳', '🌵', '🌿', '🍁'];
    var emoji = document.getElementsByClassName('emoji');
    for (var i = 0; i < emoji.length; i++) {
        emoji[i].innerHTML = emojis[Math.floor(Math.random() * emojis.length)];
    }

    var deleteBtn = document.getElementById('delete');
    deleteBtn.addEventListener('htmx:afterSwap', function (event) {
        if (event.detail.target.id == 'account') {
            window.location.href = '/signout';
        }
    });
</script>
}
