{{ template "base.html" }}

<div class="flex flex-col justify-center items-center px-3 py-5">
    <div class="border-2 border-r-8 border-b-8 rounded-2xl w-3/5 border-black">
            <div class="flex flex-row w-full border-b-2 border-black p-3">
                <p class="w-2/6 text-lg">
                    <span class="font-bold">Title:</span> {{ .title }}
                </p>
                <p class="w-2/6 text-lg">
                    <span class="font-bold">Author:</span> {{ .author }}
                </p>
                <p class="w-2/6 text-lg">
                    <span class="font-bold">Created At:</span> <span id="created_at">{{ .created_at }}</span>
                </p>
            </div>
            <div class="w-full focus:outline-none p-3 text-base leading-relaxed">
                {{ .content }}
            </div>
    </div>
</div>
<script>
    var created_at = document.getElementById("created_at");
    var date = new Date(created_at.innerHTML.trim());
    created_at.innerHTML = date.toLocaleString();
</script>