<nav class="flex flex-row justify-center items-baseline p-1">
    <div class="w-3/5">
        <h2 class="text-3xl font-bold">
            ✨ NoobText
        </h2>
    </div>
    <div class="flex flex-row items-center justify-between w-2/5">
        <ul class="text-lg flex flex-row justify-between">
            <li class="p-2">
                <a href="/">
                    Home
                </a>
            </li>
            <li class="p-2">
                <a href="/about">
                    About
                </a>
            </li>
            <li class="p-2">
                <a href="/editor">
                    Editor
                </a>
            </li>
            <li class="p-2">
                <a href="/source">
                    Source Code
                </a>
            </li>
        </ul>
        <div class="border-2 border-neutral-600 rounded-md mx-5">
            <input class="p-1 focus:outline-none rounded-md focus-within:outline-none" autocomplete="off" spellcheck="false" type="search" name="search" id="search">
            <button class="p-0.5" type="submit">🔍</button>
        </div>
    </div>
</nav>