{{ template "base.html"}}

<div class="py-3">
    <p id="message"></p>
    <form class="p-2">
        <h1 class="text-2xl font-bold">Signup</h1>
        <input type="text" class="border-2 border-neutral-600 p-1 rounded-md" autocomplete="off" name="username" id="username">
        <input type="password" class="border-2 border-neutral-600 p-1 rounded-md" autocomplete="off" name="password" id="password">
        <button 
        hx-post="/createUser"
        hx-target="#message"
        hx-swap="innerHTML"
        hx-trigger="click"
        class="bg-black text-white p-2 rounded-md" type="submit">Submit</button>
    </form>
</div>
<script>
    document.getElementById("message").addEventListener("htmx:afterSwap", (event) => {
        if(document.getElementById("message").innerHTML == "User created"){
            window.location.href = "/login";
        } 
    })
</script>